* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  font-family: 'Montserrat', sans-serif;
}

#app {
}

/*#app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  direction: column;
}*/

.nav {
  padding: 10px 30px;
  border-bottom: 1px solid black;
}

#google-sign-in {
  font-size: 0.75em;
}

.search-container {
  background-image: url("../../assets/nature6.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.results-container {
  background-image: url("../../assets/nature6.jpg");
  background-size: cover;
  background-position: center;
  padding: 2em;
}

.search {
  padding: 75px;
  background-color: rgba(255,255,255,0.9);
  border: 5px solid #000;
  font-size: 1em;
}

.results {
  background-color: rgba(255,255,255,0.9);
  border: 5px solid #000;
}

select {
  width: 200px;
  padding: 3px 12px;
  /*margin-top:8px;*/
  margin: 10px;
  line-height:1;
  font-size: 26px;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  /*border-radius: none;*/
  -webkit-border-radius: 0px;
  -webkit-appearance: none;
  text-align: center;
  /*background: none;*/
  background: rgba(255,255,255,0.9);
}

.react-datepicker__input-container input {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  background: rgba(255,255,255,0.9);
  margin: 10px;
  width: 200px;
  text-align: center;
}

input[type=text] {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  background: rgba(255,255,255,0.9);
  margin: 10px;
  width: 200px;
  text-align: center;
}

form h3 {
  margin: 10px 0;
}

form {
  font-size: 26px;
}


button {
  background-color: darkslategray;
  border: none;
  color: white;
  padding: 15px 15px;
  margin: 20px 5px;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  min-width: 5em;
}

.button-clicked {
  background-color: #C3734B;
}

.destinationButton {
}

.map {
  margin-bottom: 30px;
}

.summary {
  text-align: center;
  margin: 1em 0 0.5em 0;
  font-size: 32px;
}

.resultsListSummary {
   margin: 5px 5px 1em 5px;
}

.resultsListSummaryHeader {
  text-decoration: underline black;
  margin: 0 0 5px 0;
}

.resultsListHeader {
  /*margin: 3px;*/
  text-decoration: underline black;
  margin: 0 0 5px 0;
}

.resultsList {
  width: 33%;
  padding: 3px;
  height: auto;
}

.resultsListItem, .resultsListSummaryBody {
  font-size: 12px;
  margin: 5px 0;
}

.resultsListItem a:link {
  color: black;
  text-decoration: none;
}

.resultsListItem a:visited {
  color: black;
}

.tourism {
  float: left;
}

.hotels {
  float: right;
}

.restaurants {
  float: right;
}

.tab-padding {
  padding-right: 0;
  padding-left: 0;
}

.profileImg {
  border-radius: 50%;
}

/*.react-datepicker input {
  background: red;
}*/
.userName{
  color: black;
  font-size: 1.3em;
}

#google-sign-in, a {
  text-decoration: none;
}

.searchDateHeader {
  padding-left: 8%;
}

.searchTemp {
  padding-left: 5%;
  white-space: nowrap;
}

.searchDate {
  padding-left: 5%;
  white-space: nowrap;
}

.formattedCities {
  padding-left: 10%;
  white-space: nowrap;
}
