* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  font-family: 'Montserrat', sans-serif;
}

#app {
}

/*#app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  direction: column; 
}*/

.nav {
  padding: 10px 30px;
}

#google-sign-in {
  font-size: 0.75em;
}

.search-container {
  background-image: url("../../assets/nature6.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.search {
  padding: 100px;
  background-color: rgba(255,255,255,0.9);
  border: 5px solid #000;
  font-size: 1em;
}

select {
  width: 100px;
  padding:12px;
  margin-top:8px;
  line-height:1;
  font-size:20px;
  outline: none;

  border: none;
  border-bottom: 1px solid black;
  border-radius: none;
  text-align: center;
  background-color: none;
}

button {
    background-color: darkslategray;
    border: none;
    color: white;
    padding: 15px 15px;
    margin: 20px 5px;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

