* {
  margin: 0;
  padding: 0;
  box-sizing: border-box
}

body {
  font-family: 'Montserrat', sans-serif;
}

.nav {
  padding: 10px 30px;
  border-bottom: 1px solid black;
  margin-left: 0;
  margin-right: 0;
}

#google-sign-in {
  font-size: 0.75em;
}

.search-container {
  background-image: url("../../assets/nature6.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.results-container {
  background-image: url("../../assets/nature6.jpg");
  background-size: cover;
  background-position: center;
  padding: 2em;
}

.search {
  padding: 75px;
  background-color: rgba(255,255,255,0.9);
  border: 5px solid #000;
  font-size: 1em;
  margin-top: -2em;
}

.results {
  background-color: rgba(255,255,255,0.9);
  border: 5px solid #000;
}

select {
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  /*width: 230px;*/
  padding: 3px 12px;
  /*margin-top:8px;*/
  margin: 10px;
  line-height:1.25;
  font-size: inherit;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  /*border-radius: none;*/
  -webkit-border-radius: 0px;
  -webkit-appearance: none;
  text-align: center;
  /*background: none;*/
  /*background: rgba(255,255,255,0.9);*/
  background-color: inherit;
}

.react-datepicker__input-container input {
  line-height: 1.25;
  background-color: inherit;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  /*background: rgba(255,255,255,0.9);*/
  margin: 10px;
  width: 230px;
  text-align: center;
}

input[type=text] {
  font-weight: bold;
  line-height: 1.25;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  /*background: rgba(255,255,255,0.9);*/
  background-color: inherit;
  margin: 10px;
  width: 230px;
  text-align: center;
}

input {
    /*border-style: solid;*/
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid black;
}

form h3 {
  margin: 10px 0;
}

form {
  font-size: 26px;
}

/* BUTTON STYLING */
button, .search-button {
  background-color: darkslategray;
  border: none;
  color: white;
  padding: 15px 15px;
  margin: 20px 5px;
  text-align: center;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  min-width: 5em;

}

.search-button {
  padding: 30px;
  min-width: 100px;
  height: 100px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

.search-button:hover {
  background-color: #477c7c;
  transition: 0.25s;
}

.search-button-clicked {
  background-color: transparent;
  color: transparent;
  border: 16px solid transparent; /* Light grey */
  border-top: 16px solid darkslategray; /* Blue */
  border-bottom: 16px solid darkslategray; /* Blue */
  border-radius: 50%;
  /*animation: spin 2s linear infinite;*/
  animation: spin 1.75s ease-in-out infinite;
  transition: 1s;
}

.search-button-clicked:hover {
  background-color: transparent;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.button-clicked {
  background-color: #C3734B;
}

.destinationButton {
}

.map {
  margin-bottom: 30px;
}

.summary {
  text-align: center;
  margin: 1em 0 0.5em 0;
  font-size: 32px;
}

.book-flight {
  float: right;
  margin: 0 0 5px 0;
}

.resultsListSummary {
   margin: 5px 5px 1em 5px;
   overflow: auto;
}

.resultsListSummaryHeader {
  text-decoration: underline black;
  margin: 0 0 5px 0;
}

.resultsListSummaryBody {
  float: left;
  width: 75%;
}

.resultsListHeader {
  /*margin: 3px;*/
  text-decoration: underline black;
  margin: 0 0 5px 0;
}

.resultsList {
  width: 33%;
  padding: 3px;
  height: auto;
}

.resultsListItem, .resultsListSummaryBody {
  font-size: 12px;
  margin: 5px 0;
}

.resultsListItem a:link {
  color: black;
  text-decoration: none;
}

.resultsListItem a:visited {
  color: black;
}

.tourism {
  float: left;
}

.hotels {
  float: right;
}

.restaurants {
  float: right;
}

.tab-padding {
  padding-right: 0;
  padding-left: 0;
}

.profileImg {
  border-radius: 50%;
}

.userName{
  color: black;
  font-size: 1.3em;
}

#google-sign-in, a {
  text-decoration: none;
}

.searchDateHeader {
  padding-left: 8%;
}

.searchTemp {
  padding-left: 5%;
  white-space: nowrap;
  padding-top: 1%;
  padding-bottom: 1%;
}

.searchDate {
  padding-left: 5%;
  white-space: nowrap;
  padding-top: 1%;
  padding-bottom: 1%;
}

.formattedCities {
  padding-left: 10%;
  white-space: nowrap;
  padding-top: 1%;
  padding-bottom: 1%;
}

.userSearchHistory-background {
  background-image: url("../../assets/nature6.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.userSearchHistory-container {
  padding: 75px;
  background-color: rgba(255,255,255,0.8);
  font-size: 1em;
  height: 100vh;
  color: black;
  text-shadow:
  -1px -1px 0 #fff,
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px 1px 0 #fff;
}

.userSearchHistoryEntry-row {

}
